@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background-color: #0e1116;
    color: #e8e6e1;
    font-feature-settings: "tnum" 1, "ss01" 1;
  }
}

@layer utilities {
  .hairline-border {
    border-color: #2a2f3a;
  }
  .tnum {
    font-variant-numeric: tabular-nums;
  }
}
